<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.park.gyobab.MemberMapper">
  
  	<resultMap type="com.park.gyobab.domain.GrantVO" id="GrantVO">
		<result column="grant_id" property="grant_id" />
		<result column="grant_name" property="grant_name" />
	</resultMap>
  
  	<resultMap type="com.park.gyobab.domain.MemberVO" id="MemberVO">
		<result column="member_id" property="member_id" />
		<result column="member_email" property="member_email" />
		<result column="member_name" property="member_name" />
		<result column="member_pass" property="member_pass" />
		<result column="create_date" property="create_date" />
		<result column="update_date" property="update_date" />
		<result column="act_flg" property="act_flg" />
		<result column="del_flg" property="del_flg" />
		<collection property="grantVO" resultMap="GrantVO" />
	</resultMap>
  	
  	<select id="getTime" resultType="string">
  		select now();
  	</select>
  	
  	<insert id="insertMember">
  		INSERT INTO `member`
			(member_email, member_name, member_grant)
		VALUES
			(#{member_email}, #{member_name}, (SELECT grant_id FROM `grant` WHERE grant_name = 'USER'));
  	</insert>
  	
  	<select id="selectMemberByEmail" resultMap="MemberVO">
  		select a.member_id, a.member_email, a.member_name, b.grant_id, b.grant_name , a.create_date, a.update_date, a.act_flg, a.del_flg 
  		from `member` a		
		inner join `grant` b
		on a.member_grant = b.grant_id
		where a.member_email = #{member_email}
  	</select>
  	
  	<select id="selectMemberIdByName" resultType="Integer">
  		select count(member_id) 
  		from `member` 		
		where member_name = #{member_name} and act_flg = 1 and del_flg = 0
  	</select>
  	
  	<select id="selectMembers" resultMap="MemberVO">
  		SELECT `member`.`member_id`,
		    `member`.`member_email`,
		    `member`.`member_name`,
		    `member`.`create_date`,
		    `member`.`update_date`,
		    `grant`.`grant_name`,
		    `member`.`act_flg`,
		    `member`.`del_flg`,
		    `grant`.`grant_name` as 'member_grant'
		FROM `gyobab`.`member`  
		INNER JOIN `gyobab`.`grant`
		ON `member`.`member_grant` = `grant`.`grant_id`
  	</select>
  	
  	<update id="updateMember" parameterType="com.park.gyobab.domain.MemberVO">
  		UPDATE `member`
			set member_name = #{member_name}
		WHERE
			member_id = #{member_id}
  	</update>
  	
  </mapper>
 
 